@charset "utf-8";
/* CSS Document */

/*----------------------------------------------------------------
[Table of contents]

1. GLOBAL 
2. SITE COLORS
3. TYPOGRAPHY
4. MOBILE

-------------------------------------------------------------------*/

/*----------------------------------------------------------------
1. GLOBAL 
-------------------------------------------------------------------*/

body {
    background: #214769 url("../img/bg1.jpg") no-repeat;
    background-size: cover;
}

audio {
    width: 100%;
}

/*----------------------------------------------------------------
2. SITE COLORS
-------------------------------------------------------------------*/

.blueBg {
    background: #214769b3;
}

.blueClr {
    color: #82c4ff !important;
}

.blkBrdr {
    border: 2px solid black;
}

button:hover {
    color: #000 !important;
}

.btn-outline-secondary {
    color: #7dc2ff !important;
    border-color: #7dc2ff !important;
}

.btn-outline-secondary:hover {
    background-color: #7dc2ff !important;
    color: #000 !important;
}

/*----------------------------------------------------------------
3. TYPOGRAPHY
-------------------------------------------------------------------*/

.title-triv {
    font-size: 4rem;
}

p {
    font-size: 1.4rem;
}

/*----------------------------------------------------------------
4. MOBILE
-------------------------------------------------------------------*/

/* Medium devices (tablets, less than 700px) */
@media (max-width: 700px) {
    body {
        background: #214769 url("../img/bg2.jpg") no-repeat;
        background-size: cover;

    }

    .title-triv {
        font-size: 2rem;
    }

    p {
        font-size: .8rem;
    }
}